<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <title>
        Growler
    </title>
</head>

<body>
    <img src="http://www.growlrapp.com/Images/Header.png" alt="Growlr" />
    <hr>
    <div class="loggedin">
        <form id="new-growl">
            <input size="141" type="text" placeholder="Let everyone hear your growl" id="growl-text">
            <input type="submit" value="Submit" id="submit-growl">
        </form>
        <ul id="growls"></ul>
        <button style="display:none" type="button" id="btn-logout">Log Out</button>
    </div>
    <button type="button" id="btn-login">Log In</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
    <script src="javascript/main.js" charset="utf-8"></script>
</body>

</html>
